@import "../../../variables.scss";

.UserPage {
  &__header {
    margin-bottom: 6rem;

    & .UserNameAndAvatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;
      flex: unset;

      &__avatar {
        width: 15rem;
        height: 15rem;
        margin-bottom: 1rem;
      }
    }

    &--description {
      padding-bottom: 6rem;
      border-bottom: 1px solid $grey;
    }

    &--description,
    &--cards {
      text-align: center;
    }

    &--cards {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
  }

  &__nocards {
    grid-column: 1/-1;
    margin: 3rem auto;
    font-size: 2rem;
  }

  .CardGridList {
    padding: 0;
  }
}
