@import "../../../variables.scss";

.UserPage {
  &__header {
  }

  &__cards {
    text-align: center;
  }

  &__nocards {
    grid-column: 1/-1;
    margin: 3rem auto;
    font-size: 2rem;
  }

  .CardGridList {
    padding: 0;
    margin-top: 3rem;
  }
}
