@import "../../../variables.scss";

.NavTop {
  height: $navtop-height;
  // background-color: $white;
  // background-color: currentColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100000;
  // border-bottom: 0.5px solid $grey;
  @include theme-colors($themelight: true);

  &__left,
  &__center,
  &__right {
    padding: 0;
    height: 100%;
  }

  &__left {
    text-align: left;
    display: flex;
    align-items: center;
    flex-grow: 0;
  }

  &__link {
    @include nav-style;

    &.active {
      @include nav-active-style;

      & svg {
        stroke: $primary-light;
      }
    }

    &--category:hover ~ .NavTop__dropdown--category {
      opacity: 1;
      visibility: visible;
    }

    &--logo {
      @include logo-size;
      margin-left: 0.4rem;
      stroke: currentColor;
    }

    &:not(.active) &:hover {
      @include nav-style;
    }
  }

  &__center {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .NavTop__search {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-right: 1.2rem;

      &:hover .NavTop__input {
        visibility: visible;
        width: 20rem;
      }

      .NavTop__input--container {
        display: flex;
        @include input-style;
      }

      .NavTop__input {
        width: 15rem;
        transition: all 0.3s ease;

        &:focus {
          width: 20rem;
          &::placeholder {
            color: transparent;
          }
        }
      }

      .NavTop__delete {
        height: 2rem;
        width: 2rem;
        cursor: pointer;

        &--logo {
          height: 100%;
          width: 100%;
          fill: currentColor;

          &:hover {
            fill: $primary-light;
          }
        }
      }

      .NavTop__button {
        height: 75%;
        fill: $primary-dark;
        padding: 0;
        margin-left: 0.8rem;
        transition: fill 0.2s ease;

        &:hover {
          fill: $primary-light;
        }

        .NavTop__button--logo {
          display: block;
          height: 70%;
          width: auto;
        }
      }
    }
  }

  &__right {
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .NavTop__avatar {
      .user_avatar {
        height: 3rem;
        width: 3rem;
      }
    }

    .NavTop__linkConnexion {
      height: 100%;
    }
  }

  &__swipeTuto {
    margin-right: 3rem;
    height: 80%;

    & > img {
      height: 100%;
    }
  }

  &__userMenu {
    position: absolute;
    top: 100%;
    right: 2rem;
    display: flex;
    flex-direction: column;
    // background-color: $white;
    border-radius: 0 0 $box-radius $box-radius;
    box-shadow: $card-shadow;
    border: 0.5px solid $grey-light;
    overflow: hidden;

    p {
      width: 100%;
      display: flex;
      justify-content: center;

      &:nth-of-type(1) {
        font-size: 1.5rem;
      }

      &:nth-of-type(2) {
        font-size: 1rem;
      }
    }

    &--meta {
      border-bottom: 1px solid $grey-light;
    }

    &--meta,
    &--links {
      padding: 2rem 3rem;
    }

    &--logo {
      @include logo-size;
      margin-right: 1rem;
      fill: currentColor;
    }

    &--link {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      transition: all 0.2s ease;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      &:hover {
        color: $primary-light;
        fill: $primary-light;
      }
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    width: 100%;
    // background-color: $white;
    border-bottom: 0.5px solid $grey;
    border-top: 0.5px solid $grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    padding: 0 2rem;
    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
      visibility: visible;
    }

    &--logo {
      height: 3.5rem;
      box-sizing: content-box;
      // width: auto;
      padding: 2rem 1.5rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        box-shadow: inset $button-shadow;
        // background-color: $white;
        background-color: inherit;
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .NavTop {
    display: none;
  }
}
