@import "../../../variables.scss";

.NavTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  z-index: 20;
  height: $navtop-height;

  &.dark-theme-m {
    border-bottom: 0.5px solid $dark-medium;
  }
  &.light-theme-m {
    border-bottom: 0.5px solid $grey;
    background-color: $white;
  }

  &__left,
  &__center,
  &__right {
    padding: 0;
    height: 100%;
  }

  &__left {
    text-align: left;
    display: flex;
    align-items: center;
    flex-grow: 0;
  }

  &__link {
    @include nav-style;

    &--category {
      cursor: pointer;
    }

    &--category:hover ~ .NavTop__dropdown--category {
      opacity: 1;
      visibility: visible;
    }

    &--logo {
      @include logo-size;
      margin-left: 0.4rem;
      stroke: currentColor;
    }

    &:not(.active) &:hover {
      @include nav-style;
    }
  }

  &__center {
    width: 100%;

    .NavTop__search {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-right: 1.2rem;

      &:hover .NavTop__input {
        visibility: visible;
        width: 20rem;
      }

      .NavTop__input--container {
        display: flex;
        @include input-style;
      }

      .NavTop__input {
        width: 15rem;
        transition: all 0.3s ease;

        &:focus {
          width: 20rem;
          &::placeholder {
            color: transparent;
          }
        }
      }

      .NavTop__delete {
        height: 2rem;
        width: 2rem;
        cursor: pointer;

        &--logo {
          height: 100%;
          width: 100%;
          fill: currentColor;

          &:hover {
            fill: $primary-light;
          }
        }
      }

      .NavTop__button {
        height: 75%;
        fill: $primary-dark;
        padding: 0;
        margin-left: 0.8rem;
        transition: fill 0.2s ease;

        &:hover {
          fill: $primary-light;
        }

        .NavTop__button--logo {
          display: block;
          height: 70%;
          width: auto;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2rem;

    & div:not(:first-child) {
      margin-left: 1rem;
    }

    .NavTop__avatar {
      .UserNameAndAvatar {
        display: flex;
        border-radius: $button-radius;
        padding: $round-padding;

        &__avatar {
          margin-right: 1rem;
          height: 3rem;
          width: 3rem;
        }

        &__username {
          display: flex;
          align-items: center;
          padding-right: 1rem;
        }
      }
    }

    .NavTop__linkConnexion {
      height: 100%;

      .custom-button {
        flex-shrink: 0;
        white-space: nowrap;
      }
    }
  }

  &__notifs {
    position: relative;
    &--stamp {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -125%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $round-radius;
      height: 1.6rem;
      width: 1.6rem;
      font-size: 1rem;
      background-color: $secondary-dark;
    }

    &--dropdown {
      @include overlay-menu;
      @include thin-scrollbar;
      top: 100%;
      right: 2rem;
      overflow: unset;
      overflow-y: scroll;
      height: calc(100vh - #{$navtop-height + 1rem});
    }
  }

  &__roundBtn {
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: $round-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    & > svg {
      @include big-logo-size;
    }

    &.NavTop__notifs {
      & > svg {
        @include medium-logo-size;
      }
    }

    &.dark-theme-l {
      & > svg {
        fill: $white;
        stroke: $white;

        & * {
          fill: $white !important;
          stroke: $white !important;
        }
      }
    }
  }

  &__swipeTuto {
    margin-right: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--image {
      max-height: 100%;
    }
  }

  &__userMenu {
    @include overlay-menu;
    top: 100%;
    right: 2rem;

    p {
      width: 100%;
      display: flex;
      justify-content: center;

      &:nth-of-type(1) {
        font-size: 1.5rem;
      }

      &:nth-of-type(2) {
        font-size: 1rem;
      }
    }

    &.dark-theme-l {
      .NavTop__userMenu--meta {
        border-bottom: 1px solid $grey-dark;
      }
    }

    &.light-theme-l {
      background-color: $white;
    }

    &--meta {
      border-bottom: 1px solid $grey-light;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .ToggleTheme {
        margin: 1.5rem auto 0 auto;
      }
    }

    &--meta,
    &--links {
      padding: 2rem 0;
      margin: 0 3rem;
    }

    &--logo {
      @include logo-size;
      margin-right: 1rem;
      fill: currentColor;

      & * {
        stroke: currentColor !important;
      }
    }

    &--link {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      transition: all 0.2s ease;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      &:hover {
        color: $primary-light;
        fill: $primary-light;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $grey-light;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem 4rem;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    padding: 2rem;
    transition: all 0.2s ease;

    &.light-theme-l {
      background-color: $white;
    }

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__topicList {
    grid-row: 2/3;
    height: 100%;
    display: flex;
    flex-direction: column;
    // padding: 2rem;

    &--topic {
      font-size: 2.5rem;
      font-weight: bold;
      display: inline-block;
      background-size: cover;

      span {
        margin: 2.5rem auto;
        z-index: 1;
        text-shadow: 0 0 15px #000;
      }
      // transition: all 0.2s ease;
    }

    &--category {
      display: inline-block;
      padding: 0.5rem 0;
    }
  }

  &__topic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    border-radius: $card-radius;
    margin-bottom: 1rem;
    width: 100%;
    color: $white;

    &::before {
      content: "";
      background-color: rgba($black, 0.65);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: $card-radius;
      transition: all 0.2s ease;
    }

    &:hover::before {
      background-color: rgba($black, 0.9);
    }

    &--firstItem {
      grid-row: 1/2;
      grid-column: 1/-1;
      margin-bottom: 0;
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    a {
      padding: 0 2rem;
      margin: 0.4rem 0;
      border-radius: $button-radius;
      transition: all 0.2s ease;
    }
  }

  .null-item {
    transition: color 0.2s ease;
    &:hover {
      background-color: getTopicColor(general);
    }
  }
  .technologie-item {
    transition: color 0.2s ease;
    &:hover {
      background-color: getTopicColor(technologie);
    }
  }
  .cuisine-item {
    transition: color 0.2s ease;
    &:hover {
      background-color: getTopicColor(cuisine);
    }
  }
  .maison-item {
    transition: color 0.2s ease;
    &:hover {
      background-color: getTopicColor(maison);
    }
  }
  .beaute-item {
    transition: color 0.2s ease;
    &:hover {
      background-color: getTopicColor(beaute);
    }
  }
  .bienetre-item {
    transition: color 0.2s ease;
    &:hover {
      background-color: getTopicColor(bienetre);
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .NavTop {
    display: none;
  }
}
