@import "../../../variables.scss";

.NavTop {
  height: 6rem;
  box-shadow: 0 3px 3px rgba($grey-dark, 0.5);
  border: 0.5px solid $grey-medium;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  z-index: 100000;

  &__left,
  &__center,
  &__right {
    padding: 0.25rem 0;
  }

  &__left {
    text-align: left;
    display: flex;
    align-items: center;
    flex-grow: 0;
    height: 100%;
  }

  &__link {
    padding: 0 1rem;
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0.2rem);
    // border-bottom: 0.4rem solid transparent;
    // font-weight: bold;
    transition: all 0.3s;

    &.active {
      color: $primary-medium;
    }

    &--category:hover ~ .NavTop__dropdown--category {
      opacity: 1;
      visibility: visible;
    }

    &--logo {
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.4rem;
    }

    &:hover {
      color: $primary-light;
    }
  }

  &__center {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .NavTop__search {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-right: 1.6rem;

      &:hover .NavTop__input {
        visibility: visible;
        width: 100%;
      }

      .NavTop__input {
        @include input-style;
        width: 0%;

        visibility: hidden;
        transition: all 0.3s ease;

        &:focus {
          visibility: visible;
          width: 100%;
          &::placeholder {
            color: transparent;
          }
        }
      }

      .NavTop__button {
        height: 100%;
        fill: $primary-dark;
        padding: 0;
        margin-left: 0.8rem;
        transition: fill 0.2s ease;

        &:hover {
          fill: $primary-light;
        }

        .NavTop__button--logo {
          display: block;
          height: 70%;
          width: auto;
        }
      }
    }
  }

  &__right {
    flex-grow: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .NavTop__avatar {
      height: 70%;
    }

    // A remettre pour afficher btn connexion et inscription
    // .custom-button {
    //   visibility: hidden;
    //   opacity: 0;
    // }
  }

  &__userMenu {
    position: absolute;
    top: 100%;
    right: 2rem;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 0 0 $box-radius $box-radius;
    box-shadow: 0 3px 3px rgba($grey-dark, 0.5);
    overflow: hidden;

    p {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem 2rem;
      text-transform: capitalize;

      &:nth-of-type(1) {
        padding-bottom: 0.1rem;
      }

      &:nth-of-type(2) {
        padding-bottom: 0.5rem;
        padding-top: 0.1rem;
      }

      &:last-of-type {
        padding-top: 0.1rem;
        text-transform: none;
        font-size: 1.2rem;
      }
    }

    .horizontal-separation-primary-light {
      width: 100%;
    }

    &--logo {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.8rem;
    }

    &--link {
      padding: 0 2rem 1.8rem 2rem;
      width: 100%;
      display: flex;
      transition: all 0.2s ease;

      &:nth-of-type(1) {
        padding-top: 2rem;
      }

      &:last-child {
        padding-bottom: 2rem;
      }

      &:hover {
        color: $primary-light;
        fill: $primary-light;
      }
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 0 3px 3px rgba($grey-dark, 0.5);
    border-top: 0.5px solid $grey-medium;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    padding: 0 2rem;
    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
      visibility: visible;
    }

    &--logo {
      height: 3.5rem;
      box-sizing: content-box;
      // width: auto;
      padding: 2rem 1.5rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        box-shadow: inset $pill-shadow;
        background-color: $white;
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .NavTop {
    display: none;
  }
}
