@import "../../../variables.scss";

.NavTopMobile {
  display: none;
  width: 100%;
  align-items: center;
  padding: 1rem;
  z-index: 20;

  &.active {
    // height: 100vh;
    // overflow-y: scroll;
    // padding-bottom: 6rem;
  }

  &__top {
    z-index: 20;
    display: flex;
    align-items: center;
    height: $navtop-mobile-height;
    width: 100%;

    h1.title.title-1 {
      margin: 0 auto;
    }
  }

  &__toggle {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: auto;

    & * {
      stroke: currentColor !important;
      fill: currentColor !important;
    }
  }

  &__swipeTuto {
    height: 100%;
    justify-self: right;

    img {
      height: 4rem;
      width: auto;
    }
  }

  &__notifs {
    margin: 0 1.5rem;
    &--dropdown {
      position: absolute;
      top: calc(#{$navtop-mobile-height} + 2rem);
      width: 100vw;
      height: calc(100vh - (#{$navtop-mobile-height} + 2rem));
      z-index: 18;
      padding: 2rem;
      overflow-y: scroll;
    }
  }

  &__dropdown--logo {
    width: 2rem;
    height: 2rem;
    margin-left: 0.6rem;
  }

  &__avatar {
    height: $navtop-mobile-height;
    display: flex;
    align-items: center;

    &--userAvatar {
      border-radius: 50%;
      height: 70%;
      width: auto;
      display: block;
      cursor: pointer;
    }
  }

  &__open {
    // height: 0;
    display: none;
    // visibility: hidden;
    z-index: 19;
    position: absolute;
    top: 6rem;
    left: 0;
    max-width: 100%;

    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2rem;
    overflow: auto;
    opacity: 0;
    transform: translateX(-110%);
    transition: transform 0.2s ease;

    &.active {
      transform: translateX(0%);
      opacity: 100%;
    }

    .custom-button {
      margin: 2rem auto;
      height: auto;
      & > svg {
        @include big-logo-size;
        margin-right: 1rem;
      }
    }

    .ToggleTheme {
      margin-top: 4rem;
      font-size: 1.4rem;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
  }

  &__menu-logo {
    max-height: 10rem;
    max-width: 100%;
    margin: 2rem auto;
  }

  &__link {
    padding: 2rem 0;
    display: flex;
    align-items: center;

    // &:last-child {
    //   margin-bottom: 10rem;
    // }
  }

  .custom-button {
    margin: 2rem auto;
    & > svg {
      @include big-logo-size;
      margin-right: 1rem;
    }
  }

  #mobileSearchButton {
    // margin: 0 auto;
    margin: 0;
    margin-left: auto;
    // font-size: 2rem;

    & > svg {
      @include medium-logo-size;
      // margin-right: 1rem;

      &.dark-theme {
        fill: $white;
      }
    }
  }

  &__logo {
    stroke: $black;
    @include big-logo-size;
    margin-right: 1rem;

    & * {
      fill: currentColor !important;
      stroke: currentColor !important;
    }
  }

  &__user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    &--meta {
      text-align: center;
      white-space: normal;
    }

    &--info {
      font-size: 1.6rem;
      text-align: center;
    }

    .user_avatar {
      width: 12rem;
      height: 12rem;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  .ToggleTheme {
    margin-top: 4rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: $bp-tablet) {
  .NavTopMobile {
    display: block;
    font-size: 3rem;

    &__open {
      display: flex;
    }
  }
}
