@import "../../../variables.scss";

.NavTopMobile {
  display: none;
  // background-color: $white;
  width: 100%;
  align-items: center;
  padding: 1rem;
  z-index: 100000;

  &.active {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 6rem;
  }

  &__top {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    height: $navtop-mobile-height;
    // position: fixed;
    // top: 0;
    // left: 0;
    // background-color: $white;
    width: 100%;
    // padding: 0.6rem 1.5rem;

    h1.title.title-1 {
      margin: 0 auto;
    }
  }

  &__toggle {
    width: 3.5rem;
    height: 3.5rem;

    & * {
      stroke: currentColor !important;
      fill: currentColor !important;
    }
  }

  &__swipeTuto {
    height: 100%;
    margin-left: 1rem;
    margin-right: auto;

    img {
      height: 100%;
      witdh: auto;
    }
  }

  &__dropdown--logo {
    width: 2rem;
    height: 2rem;
    margin-left: 0.6rem;
  }

  &__avatar {
    height: $navtop-mobile-height;
    display: flex;
    align-items: center;

    &--userAvatar {
      border-radius: 50%;
      height: 70%;
      width: auto;
      display: block;
      box-shadow: $button-shadow;
      cursor: pointer;
    }
  }

  &__open {
    // background-color: $white;
    max-width: 100%;
    height: 0;
    min-height: 100vh;
    display: none;
    visibility: hidden;

    &.active {
      display: flex;
      flex-direction: column;
      height: max-content;
      height: auto;
      padding: $navtop-mobile-height 2rem 2rem 2rem;
      overflow: auto;
      visibility: visible;
    }
  }

  &__searchZone {
    height: 3rem;
    // background-color: red;
    display: flex;
    justify-content: center;

    form.SearchForm {
      font-size: 1.8rem;
    }
  }

  &__input {
    width: min-content;
    font-size: 1.6rem;
    @include input-style;
  }

  &__menu,
  &__userMenu {
    display: flex;
    flex-direction: column;
  }

  &__link,
  &__userMenu--link {
    padding: 1rem 0;
    display: flex;
    align-items: center;
  }

  .custom-button {
    & > svg {
      @include logo-size;
      margin-right: 1rem;
    }
  }

  &__swipeTuto-menu {
    width: 60%;
    margin-bottom: 6rem;
    & > img {
      width: 100%;
    }
  }

  &__search {
    margin-left: 3rem;
    // margin-bottom: 1rem;
    font-size: 2.5rem;
    border-left: 3px solid $primary-light;

    height: 0;
    visibility: hidden;

    &.active {
      visibility: visible;
      height: auto;
    }

    &--item {
      padding: 1rem 1rem;
    }
  }

  &__logo {
    stroke: $black;
    @include big-logo-size;
    margin-right: 1rem;

    & * {
      fill: currentColor !important;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;

    &--infos {
      display: flex;
      align-items: center;
      margin-bottom: 4rem;

      .user_avatar {
        margin-right: 1rem;
        width: 6rem;
        height: 6rem;
      }
    }

    &--meta {
      font-size: 2.5rem;
    }

    &--text:first-of-type {
      color: $primary-light;
      font-weight: bold;
    }
    &--text:nth-of-type(2) {
      font-size: 1.7rem;
    }
  }
}

// @media screen and (max-width: $bp-tablet) {
//   .NavTopMobile {
//     display: block;

//     &__searchZone {
//       grid-column: 1 / -1;
//       margin-bottom: 4rem;
//     }

//     &__swipeTuto {
//       margin-right: 0;
//       height: 3.5rem;

//       & > img {
//         height: 100%;
//       }
//     }
//   }
//   .NavTopMobile__open.active {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-auto-rows: max-content;
//   }
// }

@media screen and (max-width: $bp-tablet) {
  .NavTopMobile__open.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .NavTopMobile {
    display: block;
    &__menu,
    &__user {
      width: 60%;
      margin: 0 auto 4rem auto;
      font-size: 3rem;
      padding-bottom: 4rem;
    }

    &__menu {
      border-bottom: 2px solid $primary-light;
    }
  }
}
@media screen and (max-width: $bp-phone) {
  .NavTopMobile {
    &__menu,
    &__user {
      width: 80%;
    }
  }
}
@media screen and (max-width: $bp-small-phone) {
  .NavTopMobile {
    &__menu,
    &__user {
      width: 100%;
    }
  }
}
@media screen and (max-width: $bp-smallest) {
  .NavTopMobile {
    &__menu,
    &__user {
      font-size: 2rem;
    }

    &__user {
      &--infos {
        .user_avatar {
          display: none;
        }
      }
    }
  }
}
