@import "../../../variables.scss";

.HomeHeader {
  width: 100%;
  background-color: $grey-light;
  padding: $inner-component-padding;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
  }

  &__left {
    margin-right: 10%;

    .title.title-1 {
      margin-bottom: 3rem;
      font-size: 4.5rem;
      text-transform: uppercase;
    }

    &--subtitle {
      margin-bottom: 1.5rem;
    }
  }

  &__right {
    width: 40%;

    &--logo {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .HomeHeader {
    padding: $inner-component-padding-tablet;
  }
}

@media screen and (max-width: $bp-phone) {
  .HomeHeader {
    padding: $inner-component-padding-phone;

    &__right {
      display: none;
    }

    &__left {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }
}

@media screen and (max-width: $bp-small-phone) {
  .HomeHeader {
    display: none;
  }
}
