@import "../../../variables.scss";

.NotificationPopup {
  position: fixed;
  z-index: 15000;
  left: 50%;
  top: -200rem;
  transform: translateX(-50%);

  color: $white;
  border-radius: $card-radius;
  width: 50vw;
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
  @include large-shadow;
  text-align: center;
  transition: all 1s ease;

  &-info {
    background-color: $secondary-light;
  }

  &-success {
    background-color: $green-success;
  }

  &-error {
    background-color: $red-error;
  }

  &.active {
    top: 3rem;
  }
}
@media screen and (max-width: $bp-tablet) {
  .NotificationPopup {
    width: 75vw;
  }
}
