@import "../../../variables.scss";

.ToggleTheme {
  color: inherit;
  display: flex;
  align-items: center;

  &__logo {
    @include logo-size;
    fill: currentColor;
    margin-left: 0.6rem;
  }
}
