@import "../../variables.scss";

.NavLeft {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: max-content;
  max-width: 16vw;
  transform: translateX(-12vw);
  background-color: $primary-dark;
  color: $white;
  padding: 5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transition: all 0.2s;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: absolute;
    top: calc(50% - 3.5rem);
    right: 0.5rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  &:hover {
    transform: translateX(0);
  }

  &:hover::-webkit-scrollbar {
    opacity: 1;
  }

  &:hover > &__title {
    opacity: 0;
    font-size: 0;
  }

  &:hover &__links {
    opacity: 1;
  }

  &__links {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.2s ease;
  }

  &__link {
    font-size: 1.4rem;
    line-height: 2;
    display: inline-block;
    width: 100%;
    padding: 0 1rem;
    border-left: 0.3rem solid transparent;
    transition: all 0.3s ease;

    &:hover {
      border-left: 0.3rem solid $primary-light;
    }
  }

  &__footer {
    font-size: 0.8rem;
    margin-top: auto;
  }
}
