@import "../../../variables.scss";

.ScrollButton {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  fill: $grey-dark;
  z-index: 1000;
  transition: all 0.2s ease;

  &:hover {
    fill: $primary-light;
    transform: translateY(-2px);
  }
}
