@import "../../../variables.scss";

.UserHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 6rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
  border-bottom: 1px solid $grey;

  &__userInfos {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__avatar {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    font-size: 3rem;
    // box-shadow: $button-shadow;

    .user_avatar {
      height: 100%;
      width: 100%;
      font-size: inherit;
      cursor: default;
    }
  }

  &__userAvatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &__text {
    margin-left: 2rem;
  }

  &__bio {
    margin-bottom: 2rem;
  }

  &__username.title.title-1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__social {
    display: flex;
    justify-content: flex-end;

    &--link {
      width: 2.5rem;
      height: 2.5rem;
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }

    &--logo {
      height: 100%;
      width: 100%;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        fill: $primary-light;
      }
    }
  }

  &__mobile {
    display: none;
    margin-left: auto;

    &--link {
      margin-left: 1rem;

      & > svg {
        @include big-logo-size;
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .UserHeader {
    &__mobile {
      display: block;
    }
  }
}
@media screen and (max-width: $bp-phone) {
  .UserHeader {
    &__avatar {
      height: 4rem;
      width: 4rem;
    }
  }
}
