@import "../../variables.scss";

.RessourcesPage {
  min-height: 100vh;
  position: relative;
  background-color: $white;

  .title.title-1 {
    font-size: 3rem;
    text-align: center;

    background-color: $white;

    color: $primary-dark;
    padding: 4rem 0;
    margin: 0;
  }

  .ressource {
    &-navigation {
      background-color: $yellow-dark;
      padding: 2rem;

      & .scroll-logo {
        display: none;
      }

      &-scroll {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      &__item {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        color: $white;
        border-bottom: 0.3rem solid transparent;
        margin: 1rem 1.5rem;
        transition: all 0.2s ease;

        &:hover {
          border-bottom: 0.3rem solid $primary-light;
        }
      }
    }

    &-note {
      margin-bottom: 2rem;
      // color: $white;
    }

    &-liste {
      display: grid;
      grid-template-columns: repeat(auto-fill, 23.5%);
      grid-auto-rows: max-content;
      grid-gap: 1rem;
    }

    &-category {
      // margin: 8rem 0;
      padding: $inner-component-padding;
      // margin-top: 4rem;
      // margin-bottom: 4rem;

      .title.title-2 {
        @include yellow-underline;
        display: inline-block;
        padding-right: 2rem;
        font-size: 2.8rem;
        margin-bottom: 3rem;
      }
    }

    &-item {
      margin-bottom: 4rem;

      a:link,
      a:visited {
        display: inline-block;
        color: $primary-medium;
        font-weight: bold;
        padding: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 2rem;
        transition: all 0.2s ease;

        &:hover {
          background-color: $primary-dark;
          // color: white;
        }
      }
    }
  }

  .goTop__button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    fill: $grey-dark;
    transition: all 0.2s ease;

    &:hover {
      fill: $primary-light;
      transform: translateY(-2px);
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .RessourcesPage {
    .ressource {
      &-navigation {
        display: flex;
        align-items: center;

        &__item {
          white-space: nowrap;
        }

        &-scroll {
          overflow: scroll;
          flex-wrap: nowrap;
          justify-content: flex-start;
          // padding: 1.2rem;
        }

        & .scroll-logo {
          display: block;
          top: 0.5rem;

          &:first-of-type {
            left: 1rem;
          }

          &:last-of-type {
            right: 1rem;
          }

          & > svg {
            height: 3rem;
            width: 3rem;
          }
        }
      }

      &-category {
        padding: $inner-component-padding-tablet;

        .title.title-2 {
          margin-bottom: 1.2rem;
        }
      }

      &-liste {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: max-content;
        grid-gap: 2%;
      }
    }
  }
}
@media screen and (max-width: $bp-phone) {
  .RessourcesPage {
    .ressource {
      &-navigation {
        padding: 0.8rem;
        &-scroll {
        }
      }

      &-category {
        padding-bottom: 2rem;
      }

      &-liste {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0;

        .CardPreviewSmallRessources {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: $bp-small-phone) {
  .RessourcesPage {
    .ressource {
      &-category {
        padding-bottom: 0rem;
        padding-top: 2.5rem;
      }
    }
  }
}
