@import "../../variables.scss";

.RessourcesPage {
  min-height: 100vh;
  position: relative;
  background-color: $black;
  color: $white;

  &__header {
    background-color: $black;
    color: $white;
  }

  .title.title-1 {
    font-size: 3rem;
    text-align: center;
    padding: $navtop-height;
    margin: 0;
  }

  .ressource {
    &-navigation {
      padding: 2rem;

      & .scroll-logo {
        display: none;
      }

      &-scroll {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      &__item {
        @include nav-style;
      }
    }

    &-note {
      margin-bottom: 2rem;
    }

    &-liste {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: max-content;
      grid-gap: 1rem;
    }

    &-category {
      padding: $inner-component-padding;
      padding-top: 9rem;
      padding-bottom: 15rem;

      &:nth-child(even) {
        background-color: $white;
        color: $black;
      }
      &:nth-child(odd) {
        background-color: $black;
        color: $white;
      }

      .title.title-2 {
        padding-top: 6rem;
        font-size: 2.8rem;
        margin-bottom: 3rem;
      }
    }
  }

  .goTop__button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    fill: $grey-dark;
    transition: all 0.2s ease;

    &:hover {
      fill: $primary-light;
      transform: translateY(-2px);
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .RessourcesPage {
    .ressource {
      &-navigation {
        display: flex;
        align-items: center;
        justify-content: center;

        &__item {
          white-space: nowrap;
        }

        &-scroll {
          overflow: scroll;
          flex-wrap: nowrap;
          justify-content: flex-start;
        }

        & .scroll-logo {
          display: block;
          top: 0.5rem;

          &:first-of-type {
            left: 1rem;
          }

          &:last-of-type {
            right: 1rem;
          }

          & > svg {
            height: 3rem;
            width: 3rem;

            & * {
              stroke: $white !important;
            }
          }
        }
      }

      &-category {
        padding: $inner-component-padding-tablet;
        padding-top: 6rem;
        padding-bottom: 11rem;

        .title.title-2 {
          margin-bottom: 1.2rem;
          padding-top: 5rem;
        }
      }

      &-liste {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: max-content;
      }
    }
  }
}
@media screen and (max-width: $bp-phone) {
  .RessourcesPage {
    .ressource {
      &-navigation {
        // padding: 0.8rem;
        &-scroll {
        }
      }

      &-category {
        padding: $inner-component-padding-phone;
        padding-top: 3rem;
        padding-bottom: 7rem;

        .title.title-2 {
          padding-top: 4rem;
        }
      }

      &-liste {
        grid-template-columns: minmax(auto, 30rem);
        justify-content: center;

        .CardPreviewSmallRessources {
          // margin-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: $bp-small-phone) {
  .RessourcesPage {
    .ressource {
      &-category {
        // padding-bottom: 0rem;
        // padding-top: 2.5rem;
      }
    }
  }
}
