@import "../../../variables.scss";

.ChangePasswordPage {
  &__form {
    width: 70%;
    display: block;
    margin: 0 auto;

    & .FormInput {
      margin: 1rem 0 2rem 0;
    }
  }

  .custom-button {
    margin: 0 auto;
  }
}
