@import "../../variables.scss";

.NextPage {
  min-height: 100vh;
  padding: 2rem 0;

  &__content {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: $button-radius;

    h2 {
      margin-bottom: 6rem;
      text-align: center;
    }

    ul {
      margin: 2rem 3rem;
      list-style: disc;
    }
  }
}
