@import "../../../variables.scss";

.CommentsInput,
.CommentsInputReply {
  margin: 2rem 0;

  &__newComment {
    &--input {
      width: 100%;
      resize: none;
      @include input-style;
      margin: 1rem 0;

      &:focus {
        background-color: $white;

        &::placeholder {
          visibility: hidden;
        }
      }
    }
  }
  .custom-button {
    margin-left: auto;
  }
}
