@import "../../variables.scss";

.SearchPage {
  min-height: 100vh;
  background-color: $white;

  .FiltersBar {
    display: block;
  }

  &__filtersBarMobile {
    display: none;
    padding: 0 1rem;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;
  }

  @media screen and (max-width: $bp-tablet) {
    .SearchPage {
      min-height: 100vh;
      background-color: $white;

      &__filtersBarMobile {
        display: block;
      }
    }
    .FiltersBar {
      display: none;
    }
  }
  @media screen and (max-width: $bp-phone) {
    .currentSearch {
      display: none;
    }
  }
  @media screen and (max-width: $bp-small-phone) {
  }
}
