@import "../../../variables.scss";

.UserNameAndAvatarSmall {
  display: flex;
  justify-content: center;
  align-items: center;

  &__avatar {
    border-radius: 50%;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.6rem;
    display: flex;
    align-items: center;
  }

  &__userAvatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &__name {
    font-size: 1.1rem;
  }
}
