@import "../../../variables.scss";

.UserNameAndAvatarSmall {
  display: flex;
  justify-content: center;
  align-items: center;

  &__avatar {
    border-radius: 50%;
    height: 1.3rem;
    width: 1.3rem;
    background-color: coral;
    margin-right: 0.6rem;
  }

  &__name {
    font-size: 1.1rem;
  }
}
