@import "../../../variables.scss";

.custom-button {
  @include button-style;
  height: 100%;

  &.dark {
    background-color: $primary-dark;
    &.disabled-button {
      background-color: lighten($primary-dark, 20%);
    }
    &:hover {
      background-color: lighten($primary-dark, 10%);
    }
  }

  &.light {
    background-color: $primary-light;
    &.disabled-button {
      background-color: lighten($primary-light, 20%);
    }
    &:hover {
      background-color: lighten($primary-light, 10%);
    }
  }

  &.white {
    color: inherit;
    border: 1px solid $grey;
    background-color: $white;
    &.disabled-button {
      background-color: $grey-dark, 20%;
    }
    &:hover {
      // background-color: lighten($primary-light, 10%);
      color: $primary-light;
    }
  }

  // &.medium {
  //   background-color: $primary-medium;
  //   &.disabled-button {
  //     background-color: lighten($primary-medium, 20%);
  //   }
  //   &:hover {
  //     background-color: lighten($primary-medium, 10%);
  //   }
  // }

  // &.blue {
  //   background-color: $blue-dark;
  //   &.disabled-button {
  //     background-color: lighten($blue-dark, 20%);
  //   }
  //   &:hover {
  //     background-color: lighten($blue-dark, 10%);
  //   }
  // }

  // &.pink {
  //   background-color: $primary-dark;
  //   &.disabled-button {
  //     background-color: lighten($primary-dark, 20%);
  //   }
  //   &:hover {
  //     background-color: lighten($primary-dark, 10%);
  //   }
  // }

  // &.yellow {
  //   background-color: $yellow-dark;
  //   &.disabled-button {
  //     background-color: lighten($yellow-dark, 20%);
  //   }
  //   &:hover {
  //     background-color: lighten($yellow-dark, 10%);
  //   }
  // }

  &:disabled {
    background-color: $grey-dark;
    &:hover {
      background-color: $grey-dark;
    }
  }
}
