@import "../../../variables.scss";

.TopUsers {
  &__topUser {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .custom-button {
      font-size: 1rem;
      margin: 0.6rem auto 0 0;
    }

    .UserNameAndAvatar {
      display: flex;
      align-items: center;

      &__avatar {
        font-size: 1.6rem;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
}
