@import "../../../variables.scss";

.TopUsers {
  &__topUser {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    .custom-button {
      font-size: 1rem;
      margin: 0.6rem auto 0 auto;
    }

    .UserNameAndAvatar {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__avatar {
        font-size: 1.6rem;
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.6rem;
      }
    }
  }
}
