@import "../../../variables.scss";

.CommentsWrapper {
  margin: 0 auto;

  &__nextButton .custom-button {
    margin: 6rem auto;
  }
}

@media screen and (max-width: $bp-phone) {
  .CommentsWrapper {
    .CommentsInput {
      margin-bottom: 0rem;
    }
  }
}
