@import "../../../variables.scss";

.CommentsWrapper {
  .comments-section {
    margin: 3rem 0;

    .custom-button {
      margin: 0 auto 4rem auto;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    h1.title.title-1 {
      margin-bottom: 0;
      margin-right: auto;
    }

    &--commentsNumber {
      font-size: 2rem;
      margin: 0 1rem 0 0.3rem;
    }

    &--logo {
      @include big-logo-size;
    }
  }

  &__comment {
    &--error {
      color: $red-error;
    }
  }

  &__error-delete {
    text-align: right;
    cursor: pointer;
    color: $primary-dark;

    &:hover {
      font-weight: bold;
    }
  }
}
