@import "../../../variables.scss";

.CardSliderLarge {
  position: relative;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__chevron--fullpage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: max-content;
    width: 3.5rem;
    // stroke: $primary-dark;
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease;

    &.chevron-right {
      left: 100%;
    }
    &.chevron-right-white {
      left: unset;
      right: 0;
    }

    &.chevron-left {
      right: 100%;
    }

    &.chevron-left-white {
      right: unset;
      left: 0;
    }

    &:hover {
      transform: translateY(-53%);
      stroke: $primary-light;
    }
  }

  &__slides {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    & > img {
      height: 100%;
      width: 100%;
      max-height: 100vh;
      max-width: 100vh;
    }
  }

  &__fullscreen-logo {
    position: absolute;
    top: -0.8rem;
    left: calc(100% + 0.8rem);
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      fill: $primary-light;
      transform: translateY(-3px);
    }
  }

  &__slide {
    display: none;

    &--active {
      display: block;
    }
  }

  &__indicators {
    padding: 0.6rem;
    width: 100%;
    background-color: $black;
    // border: 1px solid $grey-medium;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      margin: 0 0.2rem;
    }

    &--fullscreen {
      color: $white;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }

  &__fullscreen-close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    fill: $white;
    transition: all 0.2s ease;

    & > svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      fill: $primary-light;
    }
  }

  &__indicator {
    display: block;
    width: 1rem;
    height: 0.4rem;
    background-color: $primary-light;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

    &:hover {
      opacity: 0.8;
      background-color: $primary-light;
    }

    &--active {
      &,
      &:hover {
        opacity: 1;
        background-color: $primary-light;
      }
    }
  }
}
