@import "../../../variables.scss";

.CardSlider {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: limegreen;

  &__chevron {
    position: absolute;
    height: 100%;
    width: calc(30% + 5rem);
    stroke: $primary-dark;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease;

    &.chevron-right {
      position: absolute;
      right: 0;
      padding-left: 30%;
    }

    &.chevron-left {
      left: 0;
      padding-right: 30%;
    }

    &:hover {
      opacity: 1;
      stroke: $primary-light;
    }
  }
}
