@import "../../../variables.scss";

.CardSliderLarge {
  position: relative;
  // height: 500px;
  // width: 500px;
  width: auto;
  // max-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__chevron--fullpage {
    @include big-logo-size;
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease;

    & * {
      stroke: $primary-light !important;
    }

    &:hover {
      transform: translateY(-3px);
    }
  }

  &__slides-container {
    height: auto;
    width: 100%;
    display: flex;
    overflow: auto;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }

    & > img {
      flex-shrink: 0;
      height: auto;
      width: 100%;
      scroll-snap-align: start;
    }
  }

  &__indicators {
    padding: 0.6rem;
    width: 100%;
    // background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      margin: 0 0.3rem;
    }

    &--fullscreen {
      color: $white;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }

  &__fullscreen-close {
    @include big-logo-size;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    fill: $white;
    transition: all 0.2s ease;

    & > svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      fill: $primary-light;
    }
  }

  &__indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: $primary-light;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

    &:hover {
      opacity: 0.8;
      background-color: $primary-light;
    }

    &--active {
      &,
      &:hover {
        opacity: 1;
        background-color: $primary-light;
      }
    }
  }
}

@media screen and (max-width: $bp-phone) {
  .CardSliderLarge {
    &__chevron--fullpage {
      display: none;
    }
  }
}
