@import "../../../variables.scss";

.CardSlider {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__chevron--fullpage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: max-content;
    width: 6rem;
    stroke: $primary-dark;
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease;

    &.chevron-right {
      left: 100%;

      &.chevron__fullpage {
        left: unset;
        right: 0;
      }
    }

    &.chevron-left {
      right: 100%;

      &.chevron__fullpage {
        right: unset;
        left: 0;
      }
    }

    &:hover {
      transform: translateY(-53%);
      stroke: $primary-light;
    }
  }

  &__slides {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    & > img {
      height: 100%;
      width: 100%;
      max-height: 100vh;
      max-width: 100vh;
    }
  }

  &__fullscreen-logo {
    position: absolute;
    top: 0;
    left: calc(100% + 0.5rem);
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      fill: $primary-light;
      transform: translateY(-3px);
    }
  }

  &__slide {
    display: none;

    &--active {
      display: block;
    }
  }

  &__indicators {
    // position: absolute;
    // top: 100%;
    padding: 0.6rem;
    width: 100%;
    background-color: $primary-dark;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      margin: 0 0.2rem;
    }

    &--fullscreen {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }

  &__fullscreen-close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;

    & > svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      fill: $primary-light;
    }
  }

  &__indicator {
    display: block;
    width: 1rem;
    height: 0.4rem;
    background-color: $primary-light;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

    &:hover {
      opacity: 0.8;
    }

    &--active {
      &,
      &:hover {
        opacity: 1;
      }
    }
  }
}
