@import "../../variables.scss";

.CardGridList {
  width: 100%;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-auto-rows: 15rem;
  grid-gap: 2rem;
  justify-content: center;
}
