@import "../../../variables.scss";

.SearchForm {
  height: 100%;
  max-height: 3rem;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 1.2rem;

  &:hover .SearchForm__search--input {
    width: 20rem;
  }

  &__button {
    height: 100%;
    fill: $primary-dark;
    padding: 0;
    margin-left: 0.8rem;
    transition: fill 0.2s ease;

    &:hover {
      fill: $primary-light;
    }

    &--logo {
      display: block;
      height: 100%;
      // max-height: 70%;
      width: auto;
    }
  }

  &__search {
    display: flex;

    @include input-style;

    &--input {
      width: 15rem;
      transition: all 0.3s ease;

      &:focus {
        width: 20rem;
        &::placeholder {
          color: transparent;
        }
      }
    }

    &--delete {
      height: 2rem;
      width: 2rem;
      cursor: pointer;

      .delete-logo {
        height: 100%;
        width: 100%;

        &:hover {
          fill: $primary-light;
        }
      }
    }
  }
}
