@import "../../../variables.scss";

.CardFullPopup {
  display: none;
  visibility: hidden;
  z-index: 10000000;

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    display: flex;
    justify-content: center;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }

  &__wrapper {
    max-width: 70%;

    height: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;

    .title.title-1 {
      margin-bottom: 0px;
    }
  }

  &__action-button {
    width: 7rem;
    height: 3rem;
    display: flex;
    margin-left: 2rem;

    .card-action-button {
      width: 100%;
      height: 100%;
      stroke: $primary-dark;
      cursor: pointer;

      &:hover {
        stroke: $primary-light;
      }
    }
  }

  &__grid {
    padding: 2rem 4rem;
    display: grid;
    grid-gap: 3rem 5rem;
    background-color: $white;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: max-content;
    margin: 5rem auto;
    border-radius: $box-radius;

    &__slide {
      position: relative;
      display: flex;
      align-items: center;
      grid-column: span 2;
      height: max-content;
      width: max-content;
      max-width: 75%;
      margin: 0 auto;
    }
  }

  .grid {
    &__slide {
      height: 100%;
      width: 100%;
      background-color: limegreen;
    }

    &__description {
      margin-top: 1.5rem;
      p {
        line-height: 1.4;
      }
    }

    &__chevron {
      position: absolute;
      height: 100%;
      width: calc(20% + 5rem);
      stroke: $primary-dark;
      cursor: pointer;
      opacity: 0;
      transition: all 0.2s ease;

      &.chevron-right {
        position: absolute;
        right: 0;
        padding-left: 20%;
      }

      &.chevron-left {
        left: 0;
        padding-right: 20%;
      }

      &:hover {
        opacity: 1;
        stroke: $primary-light;
      }
    }
  }

  .grid__aside-infos-grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    justify-items: center;
    grid-gap: 2rem;
  }

  .infos {
    &__published-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__tags {
      text-align: center;

      &--container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 2rem;

        .tag {
          @include big-tag-style;
          background-color: $primary-dark;
          margin: 0.3rem;

          &:hover {
            @include tag-hover-style;
          }
        }
      }
    }
  }

  .infos__autres-posts {
    display: flex;
    align-items: center;
    flex-direction: column;

    .autres-posts {
      &--grid {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 0.5rem;
      }
    }

    .autres-posts--preview {
      width: 5rem;
      height: 5rem;
      background-color: lightblue;
    }
  }

  .infos__social {
    .social-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: max-content;
      justify-items: center;

      &--item {
        width: 2.3rem;
        height: 2.3rem;
        fill: $primary-dark;
        cursor: pointer;
        transition: fill 0.2s ease;

        &:hover {
          fill: $primary-light;
        }
      }
    }
  }

  .nav__chevron {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    fill: rgba($grey-medium, 0.3);
    transition: all 0.2s ease;

    &:hover {
      fill: $primary-light;
    }

    &--left {
      left: 2rem;
    }

    &--right {
      right: 2rem;
    }
  }
}
