@import "../../../variables.scss";

.CardFullPopup {
  z-index: 50;
  scroll-behavior: smooth;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.92);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  position: fixed;

  &__loading {
    width: max-content;
    padding: 2rem;
    border-radius: $card-radius;
    @include large-shadow;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: $white;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__allwrapper {
    width: 100%;
    // transform: translateX(0);
  }

  &__scroll-wrapper {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 80rem 1fr;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__wrapper {
    grid-column: 2/3;
    padding: 3rem 6rem;
    padding-top: 8rem;
    max-width: 100%;
    margin: 0;
    width: 100%;
    border-radius: 0;
    border: 0.5px solid $grey;

    .loading {
      width: 100%;
      min-height: 100vh;
    }
  }

  &__section {
    padding: 6rem 0;
    margin: 0 4rem;
  }

  &__user {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    margin-bottom: 3rem;
    padding: 0;

    .UserNameAndAvatar {
      display: flex;
      align-items: center;

      &__avatar {
        height: 6rem;
        width: 6rem;
      }
      &__username {
        margin-left: 1rem;
        font-size: 2.5rem;
        font-weight: bold;
      }
    }
  }

  &__action-button {
    display: none;
  }

  .VerticalMenu {
    &__logo {
      &--logo {
        @include big-logo-size;
      }
    }
  }

  .card-action-button {
    @include big-logo-size;
    display: block;

    & & * {
      stroke: currentColor !important;
    }

    &__wrapper {
      @include button-round;
      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
      }

      &:first-child {
        margin-bottom: 4rem;
      }
    }

    &__liked {
      fill: $red-like;
    }

    &__saved {
      fill: $green-saved;
    }
  }

  &__mobile {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 80;
    background-color: $white;
    box-shadow: $button-shadow;
    width: 100%;
    padding: 1rem;

    .card-action-button,
    .VerticalMenu__logo--logo {
      margin-left: 1rem;
    }
  }

  &__title.title.title-1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  & .title.title.title-2 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  &__description {
    body {
      line-height: 1.6;
      padding: 0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 3rem 0 1rem 0;
      }

      ul,
      ol {
        list-style: initial;
        padding-left: 3rem;
      }

      blockquote {
        font-style: italic;
      }

      blockquote,
      pre {
        margin: 2rem 0;
        background-color: $grey-light;
        padding: 1rem;
        border-radius: $card-radius;
      }

      a,
      a:visited {
        // text-decoration: initial;
        border-bottom: 1px solid transparent;
        color: $primary-dark;
        transition: all 0.2s ease;

        &:hover,
        &:active {
          color: $primary-light;
          border-bottom: 1px solid $primary-light;
        }
      }
    }
  }

  &__meta {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;

    &-block {
      @include button-style;
      white-space: nowrap;
      background-color: $primary-dark;
      cursor: default;
      font-size: 1.4rem;
      margin: 0.5rem;

      &:hover {
        background-color: $primary-dark;
      }
    }

    &--logo {
      @include logo-size;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        & svg {
          fill: $red-like;
        }
      }

      & svg {
        @include logo-size;
        fill: $white;

        & > path {
          stroke: $white !important;
        }
      }
    }

    &--number {
      margin-left: 0.6rem;
    }
  }

  &__like-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
  }

  &__empty-image {
    width: 100%;
    height: 100%;
    background-color: $grey;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.6rem;
    text-align: center;
  }

  &__commentaires {
    border-top: 1px solid $grey;
    padding-bottom: 0;
  }

  &__autres-posts {
    .autres-posts {
      &--grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 15rem);
        grid-gap: 1rem;
      }
    }

    .autres-posts--preview {
      cursor: pointer;

      & > img {
        object-fit: contain;
      }
    }
  }

  &__slider {
    min-height: 400px;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__chevron {
    display: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    @include big-logo-size;
    cursor: pointer;
    fill: rgba($grey, 0.7);
    transition: all 0.2s ease;

    &:hover {
      fill: $primary-light;
    }

    &--left {
      left: 2rem;
    }

    &--right {
      right: 2rem;
    }
  }

  &.noscroll {
    position: fixed;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .FirstLevelComment .VerticalMenu {
    height: 2.5rem;
    width: 2.5rem;
    &__logo {
      &--logo {
        @include logo-size;
      }
    }
  }

  // MEDIA QUERIES

  @media screen and (min-width: $bp-big) {
    .CardFullPopup {
      &__wrapper {
        max-width: 90rem;
        width: 90rem;
      }

      &__mobile {
        display: none;
      }

      &__wrapper,
      &__action-button {
        margin: 2rem 0;
      }

      &__action-button {
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        margin-left: 2rem;
      }

      &__allwrapper {
        // display: flex;
        // margin: 0 auto;
        display: grid;
        grid-template-columns: 8rem 1fr 8rem;
        // transform: translateX(8rem);
        position: fixed;
        height: 100vh;
        width: max-content;

        // padding: 2rem;
      }

      &__scroll-wrapper {
        grid-column: 2/3;
        display: block;
      }

      &__wrapper {
        max-width: 90rem;
        border-radius: $card-radius;
        padding: 3rem 6rem;
      }
    }
    .nav__chevron {
      display: block;
    }
  }

  @media screen and (max-width: $bp-tablet) {
    .CardFullPopup {
      &__scroll-wrapper {
        display: block;
      }

      &__wrapper {
        padding: 7rem 10rem;
      }

      &__slider {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: unset;
        min-width: unset;
      }
    }
    .CardSlider {
      height: 100%;
    }
  }

  @media screen and (max-width: $bp-phone) {
    .CardFullPopup {
      &__wrapper {
        padding: $inner-component-padding-phone;
        padding-top: 5rem;
      }

      &__user {
        .UserNameAndAvatar {
          &__avatar {
            height: 4rem;
            width: 4rem;
          }
        }
      }

      &__autres-posts {
        .autres-posts {
          width: 100%;

          &--grid {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
          }

          &--preview {
            width: 100%;
            height: auto;
          }
        }
      }

      &__section {
        padding: 3rem 0;
        margin: 0;
      }
      &__commentaires {
        padding-bottom: 0;
      }
    }
  }

  // @media screen and (max-width: $bp-small-phone) {
  //   .CardFullPopup {
  //   }
  // }
}
