@import "../../../variables.scss";

.CardFullPopup {
  z-index: 50;
  scroll-behavior: smooth;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.92);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  position: fixed;

  &__loading {
    width: max-content;
    padding: 2rem;
    border-radius: $card-radius;
    @include large-shadow;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: $white;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__allwrapper {
    display: grid;
    grid-template-columns: 8rem 1fr 8rem;
    position: fixed;
    height: 100vh;
    // width: max-content;
    width: 70vw;
    max-width: 1200px;
  }

  &__scroll-wrapper {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 80rem 1fr;
    scrollbar-width: none;
    scroll-behavior: smooth;
    grid-column: 2/3;
    display: block;
    border-radius: $card-radius;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__wrapper {
    // grid-column: 2/3;
    width: 100%;
    // border-radius: 0;
    margin: 2rem auto;
    // max-width: 90rem;
    border-radius: $card-radius;
    padding: 3rem 6rem;

    .loading {
      width: 100%;
      min-height: 100vh;
    }
  }

  &__section {
    padding: 6rem 0;
    margin: 0 4rem;
  }

  &__user {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    margin: 0 0 3rem 0;
    padding: 0;

    .UserNameAndAvatar {
      display: flex;
      align-items: center;

      &__avatar {
        height: 6rem;
        width: 6rem;
      }
      &__username {
        margin-left: 1rem;
        font-size: 2.5rem;
        font-weight: bold;
      }
    }
  }

  &__action-button {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .VerticalMenu {
    &__logo {
      &--logo {
        @include big-logo-size;
      }
    }
  }

  .card-action-button {
    @include big-logo-size;
    display: block;

    & & * {
      stroke: currentColor !important;
    }

    &__wrapper {
      @include button-round;

      &.dark-theme {
        background-color: $dark-dark;
        & svg {
          fill: $white;
          stroke: $white;

          & * {
            stroke: $white !important;
          }
        }
      }
      &.light-theme {
        background-color: $white;
        & svg {
          fill: $black;
          stroke: $black;

          & * {
            stroke: $black !important;
          }
        }
      }
      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
      }

      &:first-child {
        margin-bottom: 4rem;
      }
    }

    &__liked {
      fill: $red-like !important;
    }

    &__saved {
      fill: $green-saved !important;
    }
  }

  &__mobile {
    display: none;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 80;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 2px 0px 3px $grey-dark;

    &.dark-theme-m {
      svg {
        fill: $white;

        & * {
          stroke: $white !important;
        }
      }
    }
  }

  &__title.title.title-1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  & .title.title.title-2 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  &__description {
    body {
      line-height: 1.6;
      padding: 0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 3rem 0 1rem 0;
      }

      ul,
      ol {
        list-style: initial;
        padding-left: 3rem;
      }

      blockquote {
        font-style: italic;
      }

      blockquote {
        margin: 3rem 0;
      }
      pre {
        margin: 2rem 0;
        background-color: $grey;
        color: $black;
        padding: 1rem;
        border-radius: $card-radius;
        white-space: normal;

        & * {
          color: $black;
        }
      }

      a,
      a:visited {
        border-bottom: 1px solid transparent;
        color: $secondary-dark;
        transition: all 0.2s ease;

        &:hover,
        &:active {
          color: $primary-light;
          border-bottom: 1px solid $primary-light;
        }
      }
    }
  }

  &__meta {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;

    &-block {
      background-color: $grey-dark;
      @include button-style;
      white-space: nowrap;
      cursor: default;
      font-size: 1.4rem;
      margin: 0.5rem;
      font-weight: bold;

      &:hover {
        color: $black;
      }
    }

    &--logo {
      @include logo-size;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        & svg {
          fill: $red-like;
        }
      }

      & svg {
        @include logo-size;
      }
    }

    &--number {
      margin-left: 0.6rem;
    }
  }

  &__like-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
  }

  &__empty-image {
    width: 100%;
    height: 100%;
    background-color: $grey;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.6rem;
    text-align: center;
  }

  &__commentaires {
    padding-bottom: 0;
  }

  &__autres-posts {
    .autres-posts {
      &--grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 15rem);
        grid-gap: 1rem;
      }
    }

    .autres-posts--preview {
      cursor: pointer;

      & > img {
        object-fit: contain;
      }
    }
  }

  &__slider {
    min-height: 400px;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  .nav__chevron {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    @include big-logo-size;
    cursor: pointer;
    fill: rgba($grey, 0.7);
    transition: all 0.2s ease;

    &:hover {
      fill: $primary-light;
    }

    &--left {
      left: 2rem;
    }

    &--right {
      right: 2rem;
    }
  }

  &.noscroll {
    position: fixed;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .FirstLevelComment .VerticalMenu {
    height: 2.5rem;
    width: 2.5rem;
    &__logo {
      &--logo {
        @include logo-size;
      }
    }
  }

  @media screen and (max-width: $bp-tablet) {
    .CardFullPopup {
      &__mobile {
        display: flex;
        justify-content: center;

        .card-action-button,
        .VerticalMenu__logo--logo {
          margin-left: 2rem;
        }
      }

      &__action-button {
        display: none;
      }

      &__allwrapper {
        display: block;
        width: 100%;
      }

      &__scroll-wrapper {
        display: block;
      }

      &__wrapper {
        padding: 7rem 10rem;
        margin: 0;
        max-width: 100%;
      }

      &__slider {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: unset;
        min-width: unset;
      }
    }
    .VerticalMenu__menu {
      top: unset;
      right: unset;
      bottom: 130%;
    }
    .CardSlider {
      height: 100%;
    }
    .nav__chevron {
      display: none;
    }
  }

  @media screen and (max-width: $bp-phone) {
    .CardFullPopup {
      &__mobile {
        justify-content: space-between;
      }

      &__wrapper {
        padding: $inner-component-padding-phone;
        padding-bottom: 5rem;
      }

      &__user {
        .UserNameAndAvatar {
          &__avatar {
            height: 4rem;
            width: 4rem;
          }
        }
      }

      &__autres-posts {
        .autres-posts {
          width: 100%;

          &--grid {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
          }

          &--preview {
            width: 100%;
            height: auto;
          }
        }
      }

      &__section {
        padding: 3rem 0;
        margin: 0;
      }
      &__section:first-of-type {
        padding: 1.5rem 0;
      }
      &__commentaires {
        padding-bottom: 0;
      }
    }
  }
}
