@import "../../../variables.scss";

.SettingsPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // padding: $grid-component-padding;

  // input:not([type="file"]),
  // textarea {
  //   @include input-style;
  // }

  // input[name="mdp1"] {
  //   margin-bottom: 2rem;
  // }

  // textarea {
  //   resize: none;
  //   min-height: 10rem;
  // }

  .allForms {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    padding: 2rem;
    border-bottom: 1px solid $grey-dark;
    justify-content: space-between;
    align-items: center;

    &__bottom {
      display: flex;
      flex-direction: column;
      width: 70%;
    }
  }
  // }
}

@media screen and (max-width: $bp-tablet) {
  .SettingsPage {
    padding: 0 2rem;
  }
}
@media screen and (max-width: $bp-phone) {
  .SettingsPage {
    .form {
      flex-direction: column;

      &__bottom {
        width: 100%;
      }

      .custom-button {
        margin-top: 1rem;
        margin-left: auto;
      }
    }
  }
}
