@import "../../../variables.scss";

.SettingsPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  background-color: $grey-light;

  input:not([type="file"]),
  textarea {
    @include input-style;
  }

  textarea {
    border-radius: 10px;
  }

  input[name="mdp1"] {
    margin-bottom: 2rem;
  }

  .valid-input:focus,
  textarea:focus:valid {
    border: 0.5px solid #00b109;
  }

  .invalid-input:focus,
  textarea:focus:invalid {
    border: 0.5px solid #f76300;
  }

  input:focus,
  textarea:focus {
    background-color: $white;
  }

  .input__message {
    display: none;
  }

  .invalid-input:focus + .input__message {
    display: block;
  }

  .allForms {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-auto-rows: max-content;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    background-color: $white;
  }

  form {
    // display: grid;
    // grid-template-columns: 1fr 20rem min-content;
    // grid-column-gap: 2rem;
    // grid-auto-rows: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  form {
    border-bottom: 1px solid $grey-dark;
  }

  form:last-of-type,
  form.form__youtube,
  form.form__github,
  form.form__facebook {
    border-bottom: none;
  }

  form:first-of-type {
    grid-template-rows: repeat(2, min-content);

    label {
      grid-column: span 3;
    }

    input {
      grid-column: span 2;
    }
  }

  label {
    grid-column: 1/2;
    text-align: right;
  }

  input,
  textarea {
    grid-column: 2/3;
  }
}
