@import "../../../variables.scss";

.SettingsPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  input:not([type="file"]),
  textarea {
    @include input-style;
  }

  input[name="mdp1"] {
    margin-bottom: 2rem;
  }

  textarea {
    resize: none;
    min-height: 10rem;
  }

  .allForms {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-bottom: 1px solid $grey-dark;

    &:first-of-type {
      border-top: 1px solid $grey-dark;
    }

    label {
      margin-bottom: 2rem;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;

      &--input {
        width: 70%;

        input,
        textarea {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-phone) {
  .SettingsPage {
    .form {
      &__bottom {
        flex-direction: column;

        &--input {
          width: 100%;
        }
      }
    }
  }
}
