@import "../../../variables.scss";

.CardGridList {
  width: 100%;
  padding: 2rem 4rem;

  &__wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 100%;
    width: 100%;
    grid-gap: 4rem;

    &--big {
      grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
    &--small {
      grid-template-columns: repeat(4, minmax(0px, 1fr));
    }
  }

  .grid-item {
    padding-bottom: 4rem;
    width: 100%;
    max-width: 100%;
  }

  .nocards-message {
    grid-column: 1 / -1;
    text-align: center;
  }

  & .custom-button {
    margin: 2rem auto;
  }
}
@media screen and (min-width: $bp-huge) {
  .CardGridList {
    &__wrapper {
      &--big {
        grid-template-columns: repeat(4, minmax(0px, 1fr));
      }
      &--small {
        grid-template-columns: repeat(6, minmax(0px, 1fr));
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .CardGridList {
    &__wrapper {
      &--big {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
      }
      &--small {
        grid-template-columns: repeat(3, minmax(0px, 1fr));
      }
    }
  }
}
@media screen and (max-width: $bp-phone) {
  .CardGridList {
    padding: 2rem 1rem;
    &__wrapper {
      &--big {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
      }
      &--small {
        grid-template-columns: repeat(2, minmax(0px, 1fr));
      }
    }
  }
}
@media screen and (max-width: $bp-small-phone) {
  .CardGridList {
    &__wrapper {
      &--big {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
      }
      &--small {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
      }
    }
  }
}
