@import "../../../variables.scss";

.CardGridList {
  width: 100%;
  padding: $inner-component-padding;

  &__wrapper {
    &--small {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: max-content;
      margin: 0 auto;
      display: grid;
      grid-gap: 2.5rem;
      justify-content: center;
    }

    &--big {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: max-content;
      margin: 0 auto;
      display: grid;
      grid-gap: 2.5rem;
      justify-content: center;
    }
  }

  .nocards-message {
    grid-column: 1 / -1;
    text-align: center;
  }
}
