@import "../../variables.scss";

.currentSearch {
  padding: 0.7rem 1.5rem;
  border-radius: $button-radius;
  margin: 2rem auto 0 auto;
  width: max-content;
  max-width: calc(100vw - 2 * 17vw);
  text-align: center;
  background-color: $grey-medium;

  &__button {
    display: flex;
    align-items: center;
  }

  &--hide {
    display: none;
  }

  &__close {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.2s ease;

    &:hover {
      fill: $primary-light;
    }
  }
}
