@import "../../variables.scss";

.currentSearch {
  margin: 2rem auto 0 auto;
  width: max-content;
  max-width: calc(100vw - 2 * 17vw);

  display: flex;

  &__button {
    text-align: center;
    background-color: $grey-medium;
    padding: 0.7rem 1.5rem;
    border-radius: $button-radius;
    display: flex;
    align-items: center;
    margin: 1rem;
  }

  &__close {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.2s ease;

    &--logo {
      height: 100%;
      width: 100%;

      &:hover {
        fill: $primary-light;
      }
    }
  }
}
