@import "../../variables.scss";

.LoginPage {
  // min-height: 95vh;
  overflow: hidden;
  height: max-content;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  background-image: url("../../assets/images/login-image.jpg");
  background-size: cover;

  // & > img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: auto;
  // }

  // &__background {
  //   background-color: $primary-dark;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   clip-path: polygon(0 80%, 100% 40%, 100% 100%, 0 100%);
  //   z-index: 10;
  // }

  &--wrapper {
    padding-top: 3rem;
    // box-shadow: $card-shadow-2;
    // display: flex;
    // justify-content: space-between;
    position: relative;
    background-color: $white;
    z-index: 100;
    margin-left: auto;
    width: 35%;
    height: 100%;
    min-height: 100vh;
    // width: 70%;
  }

  .login,
  .signup {
    // width: 45%;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;

    .title.title-1 {
      text-align: center;
      margin-bottom: 4rem;
    }

    &__form {
      display: flex;
      flex-direction: column;

      &--input {
        @include input-style;
        margin-bottom: 1rem;

        &:focus.valid-input {
          border: 0.5px solid #00b109;
        }

        &:focus.invalid-input,
        &:not([value=""]).invalid-input {
          border: 0.5px solid #f76300;
        }

        &:focus {
          background-color: $white;
        }

        &[value=""] + .input__message {
          display: none;
        }
      }
    }

    .horizontal-separation-primary-light {
      margin: 3rem auto;
      width: 80%;
    }

    &__google {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      .title.title-1 {
        margin-bottom: 0;
      }
    }
  }

  .custom-button {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    &[type="submit"] {
      margin-top: 2rem;
    }

    & > svg {
      // fill: $primary-light;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 1rem;
    }
  }

  .input__message {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  // .input__message[data-inputfor="passwordConfirm"] {
  //   display: none;
  // }

  // .input__message[data-inputfor="passwordConfirm"]:focus {
  //   display: block;
  // }

  &__link {
    text-align: center;
    transition: all 0.2s ease;

    &:hover {
      color: $secondary-dark;
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .LoginPage {
    &--wrapper {
      width: 55%;
    }
    .login,
    .signup {
      width: 100%;
    }
  }
}

@media screen and (max-width: $bp-phone) {
  .LoginPage {
    background-image: none;
    &--wrapper {
      width: 100%;
    }

    .login,
    .signup {
      .title.title-1 {
        font-size: 3rem;
      }
    }
  }
}
@media screen and (max-width: $bp-small-phone) {
  .LoginPage {
  }
}
