@import "../../variables.scss";

.CardPreviewSmallRessources {
  border-radius: $box-radius;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: $card-shadow, $card-shadow-2;
    transform: translateY(-2px);
  }

  & a {
    border-radius: $box-radius;
    padding: 1rem 1.4rem;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $white;
    border: 1px solid $grey;
    transition: all 0.2s ease;

    & h4 {
      padding: 0.5rem;
      text-align: center;
      color: $primary-dark;
      transition: all 0.2s ease;
    }

    & p {
      font-size: 1.2rem;
      text-align: center;
      transition: all 0.2s ease;
    }

    &:hover {
      & h4 {
        color: $secondary-dark;
      }

      & p {
      }
    }
  }
}
