@import "../../variables.scss";

.UserHomePage {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
  // height: calc(100vh - #{$navtop-height});
  overflow: hidden;
  width: 100%;
  padding: 2rem 0;

  &__center {
    // width: 75%;
    // flex-basis: 75%;
    // flex-grow: 2;
  }

  &__nav {
    display: flex;
    width: 100%;
    padding: 2rem 4rem;

    &--button {
      cursor: pointer;
      margin-right: 2rem;
      border-bottom: 0.3rem solid transparent;
      transition: all 0.2s ease;

      &.active {
        border-bottom: 0.3rem solid $grey;
      }
    }
    .CardsSizeButton {
      margin-left: auto;
    }
  }

  &__right {
    margin: 0 4rem 0 2rem;
    // flex-shrink: 2;
    // width: auto;

    &--block {
      width: 100%;
      padding: 2rem 4rem;
      border-radius: $card-radius;
      margin-bottom: 3rem;

      h3.title.title-3 {
        margin-bottom: 2rem;
        text-align: center;
      }

      .CardPreviewSmall {
        margin-bottom: 4rem;
      }

      .custom-button {
        font-size: 1.6rem;
        margin: 0 auto 2rem auto;
      }

      .UserNameAndAvatar {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        &__avatar {
          width: 4rem;
          height: 4rem;
          margin-right: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .UserHomePage {
  }
}
@media screen and (max-width: $bp-phone) {
  .UserHomePage {
  }
}
