@import "../../variables.scss";

.UserHomePage {
  display: flex;
  height: calc(100vh - #{$navtop-height});
  overflow: hidden;
  width: 100%;

  h2 {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__side {
    width: 33%;
    max-width: 400px;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--news {
      margin-top: 4rem;
      margin-bottom: 1rem;
      width: 100%;
      flex-grow: 2;
      overflow-y: scroll;
    }

    p:last-of-type {
      font-size: 1.2rem;
      margin-top: auto;
      text-align: center;

      a {
        text-decoration: underline;
      }
    }
  }

  &__side--news,
  &__center {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey;
      width: 0.5rem;
    }
  }

  &__center {
    overflow: auto;
    flex-grow: 2;
    padding: 2rem;

    .CardGridList {
      padding: 0;
      max-width: 1200px;
      margin: 0 auto;
      &__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  .UserHomePage {
    &__side {
      padding: 1rem;
    }

    &__center {
      padding: 2rem;

      .CardGridList {
        &__wrapper {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
@media screen and (max-width: $bp-phone) {
  .UserHomePage {
    &__side {
      display: none;
    }

    &__center {
      .CardGridList {
        &__wrapper {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
