@import "../../../variables.scss";

.AddCardPage {
  min-height: 100vh;
  padding-bottom: 2rem;

  &__loading {
    width: max-content;
    padding: 2rem;
    border-radius: $card-radius;
    @include large-shadow;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: $white;
  }

  &__wrapper,
  &__section {
    border-radius: $card-radius;
  }

  &__section {
    padding: 2rem;
    border: 1px solid $grey;
    @include card-shadow;

    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }
  }

  &__description {
    margin-bottom: 4rem;
  }

  &__inputZone {
    display: flex;
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    input,
    select,
    textarea,
    .rdw-editor-wrapper {
      width: 70%;
      margin-left: auto;
    }
  }

  &__action {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    & .custom-button:not(:last-of-type) {
      margin-right: 1.5rem;

      &:disabled {
        background-color: $grey-dark;
      }
    }

    & .custom-button:last-of-type {
      background-color: $secondary-light;
    }
  }
  .custom-button[data-btn="goback"] {
    margin: 2rem auto;
  }

  &__error {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: $bp-tablet) {
  .AddCardPage {
    padding: $grid-component-padding-tablet;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: $bp-phone) {
  .AddCardPage {
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__inputZone {
      flex-direction: column;

      input,
      select,
      textarea,
      .rdw-editor-wrapper {
        width: 100%;
      }
    }

    &__wrapper {
      padding: 2rem;
      margin: 0;
      border: none;
    }
  }
}
