@import "../../../../variables.scss";

.FirstLevelComment {
  margin-bottom: 1rem;
  display: flex;

  &__wrapper {
    flex-grow: 1;
    margin: 0 1rem;
  }

  &__author {
    width: 4rem;
    height: 4rem;
  }

  &__center {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $grey-light;
    color: $black;
    border-radius: $box-radius;
    border: 0.5px solid $grey;

    .UserUsername {
      display: inline-block;
      align-self: flex-start;
    }

    .UserUsername__username {
      // color: $primary-light;
      font-weight: bold;
      margin-bottom: 0.6rem;
      display: inline-block;
    }

    &--top {
      display: flex;
      justify-content: space-between;
    }
  }
  &__actions {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  &__action {
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: $primary-light;
    }
    &:not(:first-of-type) {
      margin-left: 1.5rem;
    }

    &--likes-number {
      margin-left: auto;
    }

    &--logo {
      @include logo-size;
      margin-left: 0.3rem;
      justify-self: flex-start;
      & * {
        stroke: currentColor !important;
      }

      &.comment-logo__liked {
        fill: $red-like;
      }
    }
  }

  &__replies {
    &--message {
      // text-align: center;
      margin-bottom: 3rem;
      margin-left: 5rem;
      cursor: pointer;
      font-weight: bold;
      color: $primary-light;
      transition: all 0.2s ease;
    }

    &--input {
      margin: 0 0 0 5rem;
      display: flex;
      align-items: flex-start;

      form.CommentsInputReply {
        width: 100%;
      }
    }
  }

  &__close-logo {
    @include big-logo-size;
    // margin-left: 1rem;
    margin-top: 1rem;
    display: inline-block;
    width: 5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    fill: currentColor !important;

    &:hover {
      fill: $primary-light;
    }
  }

  @media screen and (max-width: $bp-tablet) {
    .FirstLevelComment {
      &__wrapper {
        margin: 0 0.5rem;
        font-size: 1.6rem;
      }

      &__center {
        .UserUsername__username {
          // margin-bottom: 0.3rem;
        }
      }
    }
  }

  @media screen and (max-width: $bp-phone) {
    .FirstLevelComment {
      &__center {
        position: relative;
      }

      &__author {
        display: flex;
        flex-direction: column;
        height: max-content;

        .user_avatar {
          height: 3.5rem;
          width: 3.5rem;
          margin: 0 auto;
        }
      }
    }
  }

  @media screen and (max-width: $bp-small-phone) {
  }
}
