@import "../../../variables.scss";

.user_avatar {
  border-radius: 50%;
  height: 4rem;
  overflow: hidden;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $pill-shadow;
  cursor: pointer;
  color: $white;
  background-color: $primary-dark;

  &--image {
    width: 100%;
    height: 100%;
  }
}
