@import "../../../variables.scss";

.user_avatar {
  font-size: 5rem;
  border-radius: 50%;
  height: 4rem;
  overflow: hidden;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid $grey;
  font-size: 3rem;

  &--image {
    height: 100%;
    width: auto;
  }
}
