@import "../../../variables.scss";

.UserNameAndAvatar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: $light-shadow;
    border: 1px solid $grey-light;
    overflow: hidden;
    background-color: $white;
    color: $black;
    flex-shrink: 0;

    &--image {
      height: 100%;
    }
  }
}
