@import "../../../variables.scss";

.FiltersBar {
  width: 80%;
  margin: 2rem auto -2rem auto;

  .scroll-logo {
    display: none;
  }

  &__wrapper {
    // max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__up {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $blue-dark;
  }

  &__down {
    display: flex;
    align-items: center;
  }

  &__size-logo {
    display: block;
    // background-color: red;
    height: 2rem;
    width: 2rem;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
    fill: $blue-dark;
    transition: all 0.2s ease;

    &:first-of-type {
      margin-left: auto;
    }

    .grid-size-logo {
      width: 100%;
      height: 100%;
    }

    &.active {
      fill: $blue;
    }

    &:not(.active):hover {
      fill: $primary-light;
    }
  }

  &__options {
    display: flex;

    &--item {
      cursor: pointer;
      display: inline-block;
      height: 100%;
      padding: 0.6rem;

      &:not(:first-of-type) {
        margin-left: 0.6rem;
      }
    }

    &--item.active {
      background-color: $blue-dark;
      color: $white;
      border-radius: $box-radius $box-radius 0 0;
    }
  }
}
@media screen and (max-width: $bp-tablet) {
  .FiltersBar {
    width: 90%;
    margin: 1rem auto 0 auto;

    &__options {
      margin-left: 3rem;
      position: relative;
      overflow: auto;
      white-space: nowrap;

      &--links {
        overflow: auto;
        white-space: nowrap;
      }

      .scroll-logo {
        display: block;

        &:first-of-type {
          margin-right: 1rem;
        }

        &:last-of-type {
          margin-left: 1rem;
        }

        & > svg {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }
}
@media screen and (max-width: $bp-phone) {
  .FiltersBar {
    &__options {
      margin-left: 0;
    }

    &__up {
      flex-direction: column;

      select {
        align-self: center;
        margin-bottom: 1rem;
      }
    }
  }
}
