@import "./variables.scss";

// RESET GENERAL
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button,
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: inherit;
  padding: 0.3rem 1.5rem;
  font-size: inherit;
}

button::placeholder,
input::placeholder,
textarea::placeholder {
  color: $black;
}

button,
select {
  cursor: pointer;
}

select {
  background-color: $white;
  border: 1px solid $grey-medium;
  border-radius: $box-radius;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
  padding: 6rem 0 0 0;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: $bp-phone) {
  body {
    padding: 4rem 0 0 0;
  }
}

// Components spécifiques

.primary-text {
  color: $primary-light;
}

.primary-lighter-text {
  color: $primary-lighter;
}

.primary-medium-text {
  color: $primary-medium;
}

.primary-dark-text {
  color: $primary-dark;
}

.text-bold {
  font-weight: bold;
}

.title {
  &-1 {
    margin-bottom: 1.4rem;
    font-size: 2.6rem;
  }

  &-2 {
    margin-bottom: 1.2rem;
    font-size: 2.2rem;
  }

  &-3 {
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }

  &-4 {
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
  }
}
