// VARIABLES
// $primary-light: #ff6a00;
// $primary-lighter: #c6e8ff;
// $primary-medium: #00bfe0;
// $primary-dark: #00258b;

// Autre set
// $primary-light: #ff6699;
// $primary-lighter: #faf9ff;
// $primary-medium: #d400ff;
// $primary-dark: #331277;
// $white: #ffffff;
// $grey-lighter: #fefefe;
// $grey-light: #f8f8f8;
// $grey-medium: #f1f1f1;
// $grey-dark: #bdbdbd;
// $black: #000000;

// TESTS PALETTE
$primary-dark: #270788ff;
$primary-medium: #683af6ff;
$primary-light: #9777f8;
$blue: #8aebffff;
$logo-blue: #3fc1c9;
$blue-dark: #0099ff;
$yellow: #ffc154ff;
$yellow-dark: #f59b00;
$pink: #e96f91ff;
$pink-dark: #f64879;
$grey-light: #f8f8f8;
$grey-medium: #f1f1f1;
$grey-dark: #bdbdbd;
$white: #ffffffff;
$black: #000000;

$box-radius: 5px;
$button-radius: 3rem;

$button-shadow: 0 2px 3px $grey-dark;
$card-shadow: 0 2px 3px $grey-dark;
$card-shadow-2: 0 0px 8px rgba($grey-dark, 0.4);

$inner-component-padding: 10rem 17vw;
$grid-component-padding: 3rem 17vw;
$inner-component-padding-tablet: 5rem 8vw;
$grid-component-padding-tablet: 3rem 8vw;
$inner-component-padding-phone: 4rem 2vw;
$grid-component-padding-phone: 4rem 2vw;

// Breakpoints
$bp-tablet: 960px;
$bp-phone: 680px;
$bp-small-phone: 540px;

@mixin input-style {
  background: $grey-light;
  border: 1px solid $grey-medium;
  border-radius: $button-radius;
}

@mixin big-tag-style {
  padding: 0.4rem 1.4rem;

  transform: skew(-5deg);
  color: white;
  font-size: 1.2rem;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

@mixin small-tag-style {
  padding: 0.2rem 0.7rem;
  background-image: linear-gradient(120deg, $grey-light 75%, $grey-medium 100%);
  font-size: 0.8rem;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

@mixin tag-hover-style {
  transform: translateY(-2px);
  box-shadow: $button-shadow;
}

@mixin light-underline {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 70%,
    lighten($primary-light, 22%) 70%,
    lighten($primary-light, 22%) 100%
  );
}

@mixin yellow-underline {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 70%,
    lighten($yellow, 22%) 70%,
    lighten($yellow, 22%) 100%
  );
}

@mixin medium-underline {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 70%,
    $primary-medium 70%,
    $primary-medium 100%
  );
}

.horizontal-separation {
  &-primary-light {
    width: 60%;
    height: 1px;
    background-color: $primary-light;
  }
  &-primary-medium {
    width: 60%;
    height: 1px;
    background-color: $primary-medium;
  }
  &-primary-dark {
    width: 60%;
    height: 1px;
    background-color: $primary-dark;
  }
}
