// VARIABLES
// TESTS WEBDESIGN
// $blue-swipetuto: #00e7fd;
$red-error: #cf0030;
$green-success: #00b109;
$green-saved: #1be970;
$red-like: #ff5d83;
$secondary-dark: #edb603ff;
$secondary-light: #fed523ff;
$primary-light: #ad0cc2;
$primary-dark: #280849;
$black: #202020;
$white: #f6f6f6;
// $black: #000000ff;
// $white: #ffffffff;
$grey: #b6b6b6;
$grey-light: #ececec;
$grey-dark: #636363;

// $black-themedark: #202020;
// $white-themedark: #ececec;
// $grey-themedark: #494949;
// $grey-light-themedark: #bebebe;
// $grey-dark-themedark: #2c2c2c;

$box-radius: 5px;
$box-padding: 0.8rem 1.2rem;
$button-radius: 3rem;

$navtop-height: 5rem;
$navtop-mobile-height: 4rem;

$button-shadow: 0 2px 3px rgba($grey, 0.4);
$card-shadow: 0 2px 3px rgba($grey, 0.4);
// $card-shadow-2: 0 0px 3px rgba($grey, 0.2);
// $button-shadow-dark: 0 2px 3px $grey-themedark;
// $card-shadow-dark: 0 2px 3px $grey-themedark;
// $card-shadow-2-dark: 0 0px 8px rgba($grey-themedark, 0.4);

$inner-component-padding: 0 14vw;
$grid-component-padding: 0 14vw;
$inner-component-padding-tablet: 0 8vw;
$grid-component-padding-tablet: 0 8vw;
$inner-component-padding-phone: 0 1rem;
$grid-component-padding-phone: 0 1rem;

// Breakpoints
$bp-big: 1300px;
$bp-tablet: 960px;
$bp-phone: 680px;
$bp-small-phone: 540px;
$bp-smallest: 360px;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap");
$text-font: "Nunito", sans-serif;
$title-font: "Montserrat", sans-serif;

@mixin input-style {
  background: $grey-light;
  color: $black;
  font-size: inherit;
  font-family: inherit;
  padding: $box-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
  border-left: 3px solid $grey;
  width: 100%;

  &:focus.valid-input {
    border-left: 3px solid $green-success;
  }

  &.invalid-input,
  &:focus.invalid-input {
    // border: 0.5px solid $red-error;
    border-left: 3px solid $red-error;
  }

  .FormInput__label {
    margin-bottom: 0.5rem;
  }

  &:focus {
    background-color: $white;
  }

  .input__message {
    display: block;
  }

  // & + .input__message-hide {
  //   display: none;
  // }

  &:focus {
    &::placeholder {
      visibility: hidden;
    }
  }
}

@mixin button-style {
  padding: $box-padding;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  color: $white;
  background-color: $secondary-dark;

  &:hover {
    background-color: $secondary-light;
  }
}

@mixin section-padding {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
@mixin section-big-padding {
  padding-top: 25rem;
  padding-bottom: 25rem;
}
@mixin section-small-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@mixin logo-size {
  height: 1.5rem;
  width: 1.5rem;
}
@mixin big-logo-size {
  height: 3rem;
  width: 3rem;
}

@mixin theme-colors($themelight: true) {
  @if $themelight {
    background-color: $white;
    color: $black;
  } @else {
    background-color: $black;
    color: $white;
  }
}

// @mixin button-active-style {
//   padding: $box-padding;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: all 0.2s ease;
//   box-shadow: 0 2px 3px $grey;
//   color: $white;
//   background-color: $secondary-light;
// }

@mixin nav-style {
  padding: $box-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  &:hover {
    color: $primary-light;
  }
}

@mixin nav-active-style {
  padding: $box-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  color: $primary-light;
}

.horizontal-separation {
  &-primary-light {
    width: 60%;
    height: 1px;
    background-color: $primary-light;
  }

  &-primary-dark {
    width: 60%;
    height: 1px;
    background-color: $primary-dark;
  }
}
