@import "../../../variables.scss";

.FollowersList {
  @include popup-style;

  &__wrapper {
    height: max-content;
    border: 0.5px solid $grey-dark;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 40rem;
    padding: 1rem 2rem;
    margin: 2rem auto;
    overflow-y: scroll;
    @include thin-scrollbar;
  }

  &__header {
    display: flex;
    margin-bottom: 2rem;

    &--close {
      cursor: pointer;
      border-radius: $round-radius;
      background-color: $grey;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.5rem;
      width: 3.5rem;
      margin-left: auto;
      & svg {
        @include big-logo-size;
      }
    }

    h3 {
      margin-bottom: 2rem;
    }
  }

  &__profile {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    .custom-button {
      font-size: 1.2rem;
      margin-left: auto;
    }

    & > a {
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      .user_avatar {
        margin-right: 1.5rem;
      }
    }
  }
}
